<div data-controller="navigation change-mode" data-navigation-target="home" data-action="scroll@window->navigation#underline">
  <div class="navigate-classic py-3 fixed-top" data-change-mode-target="navigate">
    <div class="d-flex container align-items-center justify-content-between">
      <div class="d-flex btn-border">
        <span class="button btn-darky btn-left" data-change-mode-target="classic" data-action="click->change-mode#classic">Light</span>
        <span class="button btn-light" data-change-mode-target="dark" data-action="click->change-mode#dark">Dark</span>
        <span class="button btn-light btn-right" data-change-mode-target="funky" data-action="click->change-mode#funky">Funky</span>
      </div>
      <h4 class="underline" data-navigation-target="homeBtn" data-action="click->navigation#home">Home</h4>
      <h4 data-navigation-target="aboutBtn" data-action="click->navigation#about">About me</h4>
      <h4 data-navigation-target="projectBtn" data-action="click->navigation#projects">Projects</h4>
      <h4 data-navigation-target="contactBtn" data-action="click->navigation#contact">Contact</h4>
    </div>
  </div>
  <div class="banner d-flex align-items-start flex-column justify-content-center pl-5">
    <h1>Rémi Tondeux</h1>
    <h2 id="job-title"></h2>
    <span class="btn-call-action" data-action="click->navigation#contact">Let's work together !</span>
  </div>
  <div class="body-classic" data-change-mode-target="body" data-navigation-target="body">
    <div class="container">
      <div data-controller="return-pic" data-action="mousemove->return-pic#return">
        <div class="text-center">
          <h3>Rémi Tondeux - 30 years old - engineer and Web developer</h3>
          <%= image_tag "RemBG_2.jpg", class: "avatar mb-3", data: { change_mode_target: "bg", return_pic_target: "pic" } %>
          <%= image_tag "RemLul.jpg", class: "avatar mb-3 d-none", data: { change_mode_target: "lul", return_pic_target: "pic" } %>
        </div>
        <div class="card-classic" data-change-mode-target="card">
          <div class="game">
            <h5>Let's play a little game:</h5>
            <h5>try to discover everything about me !</h5>
          </div>
          <% lorem = "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum."  %>
          <% 2.times do %>
            <p><%= lorem %></p>
          <% end  %>
        </div>
        <div class="row justify-content-center logos">
          <div class="col-4 col-lg-1">
            <%= image_tag "Ruby.png", class: "logo" %>
          </div>
          <div class="col-4 col-lg-1">
            <%= image_tag "Rails.png", class: "logo" %>
          </div>
          <div class="col-4 col-lg-1">
            <%= image_tag "JS.png", class: "logo" %>
          </div>
          <div class="col-4 col-lg-1">
            <%= image_tag "HTML.png", class: "logo" %>
          </div>
          <div class="col-4 col-lg-1">
            <%= image_tag "CSS.png", class: "logo" %>
          </div>
          <div class="col-4 col-lg-1">
            <%= image_tag "Cplus.png", class: "logo" %>
          </div>
          <div class="col-4 col-lg-1">
            <%= image_tag "Python.png", class: "logo" %>
          </div>
          <div class="col-4 col-lg-1">
            <%= image_tag "Git.png", class: "logo" %>
          </div>
          <div class="col-4 col-lg-1">
            <%= image_tag "Github.png", class: "logo" %>
          </div>
          <div class="col-4 col-lg-1">
            <%= image_tag "Figma.png", class: "logo" %>
          </div>
        </div>
        <div data-controller="filter" data-navigation-target="projects">
          <h3>Discover my projects</h3>
          <p>Because I really care about work-life balance, you will find here both personal and professional projects.
            Everything here define who I am and gave me either technical or soft skills.
            Feel free to sort them using the tags below.</p>
          <div class="tags-container">
            <div class="d-flex justify-content-around align-items-center py-2">
              <h4 data-filter-target="all" data-action="click->filter#all">#all</h4>
              <p data-filter-target="pro" data-action="click->filter#pro">#professional</p>
              <h6 data-filter-target="web" data-action="click->filter#web">#web</h6>
            </div>
            <div class="d-flex justify-content-around align-items-center py-2">
              <p data-filter-target="social" data-action="click->filter#social">#social</p>
              <h6 data-filter-target="lifestyle" data-action="click->filter#lifestyle">#lifestyle<h6>
              <p data-filter-target="perso" data-action="click->filter#perso">#personal</p>
              <h4 data-filter-target="award" data-action="click->filter#award">#awarded</h4>
            </div>
            <div class="d-flex justify-content-around align-items-center py-2">
              <p data-filter-target="study" data-action="click->filter#study">#study</p>
              <h6 data-filter-target="sport" data-action="click->filter#sport">#sport<h6>
              <p data-filter-target="env" data-action="click->filter#env">#environment<p>
            </div>
          </div>
          <div class="row">
            <% @projects.each do |project| %>
              <div class="col-12 col-lg-4">
                <div class="effect-purpose reset" data-controller="projects" data-action="click->projects#return" data-projects-target="card">
                  <div class="card-classic card-project-front d-flex justify-content-center align-items-center" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('<%= project.pic %>')" data-change-mode-target="card">
                    <h4><%= project.title %></h4>
                    <span class="d-none" data-filter-target="tags"><%= project.tags %></span>
                  </div>
                  <div class="card-classic card-project-back d-flex justify-content-between flex-column" data-change-mode-target="card">
                    <h4><%= project.title %></h4>
                    <p><%= project.description.size > 230 ? project.description.slice!(0..230) + " [...]" : project.description %></p>
                    <div class="text-right pb-2">
                      <% if project.title == "Our next collaboration ?"  %>
                        <span class="btn-link" data-action="click->navigation#contact">Contact</span>
                      <% else %>
                        <%= link_to "Details", project_path(project), class:"btn-link" %>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            <% end  %>
          </div>
        </div>
        <div data-navigation-target="contact">
          <h3>Get in touch with me</h3>
          <p> <%= lorem * 3 %> <p>
          <h3>They trust me</h3>
          <div class="tags-container">
            <% @testimonials.each do |testimonial| %>
              <div class="card-testimonial">
                <h3><%= testimonial.company %></h3>
                <p><%= testimonial.date %></p>
                <p>"<%= testimonial.descrition %>"</p>
              </div>
            <% end %>
          </div>
          <div class="card-classic" data-change-mode-target="card">
            <div class="text-center">
              <a href="https://github.com/Remitdx" target="_blank"><i class="fab fa-github"></i></a>
              <a href="https://www.linkedin.com/in/r%C3%A9mitondeux/" target="_blank"><i class="fab fa-linkedin"></i></a>
              <p><i class="far fa-envelope"> : remi.tondeux@gmail.com</i></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
