<div data-controller="navigation change-mode game" data-navigation-target="home" data-action="scroll@window->game#contact scroll@window->navigation#underline">
  <nav class="navigate-classic fixed-top" data-change-mode-target="navigate">
    <div class="d-lg-flex align-items-center text-center container">
      <div class="d-inline-flex btn-border">
        <span class="button btn-darky btn-left" data-change-mode-target="classic" data-action="click->change-mode#classic">Light</span>
        <span class="button btn-light btn-middle" data-change-mode-target="dark" data-action="click->game#mode click->change-mode#dark">Dark</span>
        <span class="button btn-light btn-right" data-change-mode-target="funky" data-action="click->game#mode click->change-mode#funky">Funky</span>
      </div>
      <div class="d-flex flex-lg-fill justify-content-around">
        <h2 class="underline" data-navigation-target="homeBtn" data-action="click->navigation#home">Home</h2>
        <h2 data-navigation-target="aboutBtn" data-action="click->navigation#about">About</h2>
        <h2 data-navigation-target="projectBtn" data-action="click->navigation#projects">Projects</h2>
        <h2 data-navigation-target="contactBtn" data-action="click->navigation#contact">Contact</h2>
      </div>
    </div>
  </nav>
  <header class="banner d-flex align-items-center align-items-lg-start flex-column justify-content-center">
    <h1>Rémi Tondeux</h1>
    <p id="job-title"></p>
    <span class="btn-call-action" data-action="click->navigation#contact">Let's work together !</span>
  </header>
  <main class="body-classic" data-change-mode-target="body">
    <section class="about container">
      <div data-controller="return-pic" data-navigation-target="body" data-action="mousemove->game#avatar mousemove->return-pic#return">
        <div class="text-center">
          <h2 class="section-title">Hi, welcome to my portfolio website !</h2>
          <%= image_tag "RemBG_2.jpg", class: "avatar", data: { change_mode_target: "bg", return_pic_target: "pic" } %>
          <%= image_tag "RemLul.jpg", class: "avatar d-none", data: { change_mode_target: "lul", return_pic_target: "pic" } %>
        </div>
        <div class="text-wrap">
          <p>I am Rémi, a french engineer, who decided to switch his career path in 2021 from construction sites to web development.</p>
          <p> After being introduced to basics of algorithmic in engineering school around 2012, I keep on learning some programming languages on my own through the past years.
          But I realized that if I wanted to change my job I needed something more, a new impulse, know new trendy languages and meet people from this field.</p>
          <p>That's how I joined in 2021 "Le Wagon" bootcamp which gave me new technicals skills and nice tools to collaborate.</p>
          <p>I am deeply excited about this new challenge and even more important, I really enjoy coding and learn new things everyday ! </p>
        </div>
        <div class="card-classic my-5" data-change-mode-target="card">
          <div class="game text-center">
            <h3>Let's play a little game</h3>
            <p class="bigger-p">Try to check every feature of this website</p>
            <div class="d-flex justify-content-around align-items-center py-3">
              <div class="d-flex progress-container">
                <div class="green" data-game-target="green" style="width: 9%;">
                </div>
                <div class="red" data-game-target="red" style="width: 91%;">
                </div>
              </div>
              <p data-game-target="percent"> 9%</p>
            </div>
            <p>(refresh to reset progression)</p>
            <span data-action="click->game#hint"><i class="hint fas fa-lightbulb"></i></span>
            <div class="d-none" data-game-target="hint">
              <p> Visit the homepage: <span class="true"><i class="fas fa-check"></i></span></p>
              <p> Switch to dark or funky mode: <span data-game-target="mode" class="false"><i class="fas fa-times"></i></span></p>
              <p> Return the profile picture: <span data-game-target="avatar" class="false"><i class="fas fa-times"></i></span></p>
              <p> Browse the projects with tags: <span data-game-target="tag" class="false"><i class="fas fa-times"></i></span></p>
              <p> Return a project card: <span data-game-target="card" class="false"><i class="fas fa-times"></i></span> </p>
              <p> Rotate the testimonials: <span data-game-target="carrou" class="false"><i class="fas fa-times"></i></span> </p>
              <p> Visit the contact section: <span data-game-target="contact" class="false"><i class="fas fa-times"></i></span> </p>
            </div>
          </div>
        </div>
        <div class="row justify-content-center logos">
          <div class="col-3 col-lg-1 justify-content-center align-items-center d-flex">
            <%= image_tag "Ruby.png", class: "logo" %>
          </div>
          <div class="col-3 col-lg-1 justify-content-center align-items-center d-flex">
            <%= image_tag "Rails.png", class: "logo" %>
          </div>
          <div class="col-3 col-lg-1 justify-content-center align-items-center d-flex">
            <%= image_tag "HTML.png", class: "logo" %>
          </div>
          <div class="col-3 col-lg-1 justify-content-center align-items-center d-flex">
            <%= image_tag "CSS.png", class: "logo" %>
          </div>
          <div class="col-3 col-lg-1 justify-content-center align-items-center d-flex">
            <%= image_tag "JS.png", class: "logo" %>
          </div>
          <div class="col-3 col-lg-1 justify-content-center align-items-center d-flex">
            <%= image_tag "Stimulus.png", class: "logo" %>
          </div>
          <div class="col-3 col-lg-1 justify-content-center align-items-center d-flex">
            <%= image_tag "Git.png", class: "logo" %>
          </div>
          <div class="col-3 col-lg-1 justify-content-center align-items-center d-flex">
            <%= image_tag "Github.png", class: "logo" %>
          </div>
          <div class="col-3 col-lg-1 justify-content-center align-items-center d-flex">
            <%= image_tag "Figma.png", class: "logo" %>
          </div>
          <div class="col-3 col-lg-1 justify-content-center align-items-center d-flex">
            <%= image_tag "React.png", class: "logo" %>
          </div>
          <div class="col-3 col-lg-1 justify-content-center align-items-center d-flex">
            <%= image_tag "Cplus.png", class: "logo" %>
          </div>
          <div class="col-3 col-lg-1 justify-content-center align-items-center d-flex">
            <%= image_tag "Python.png", class: "logo" %>
          </div>
        </div>
      </div>
    </section>
    <section class="projects container" data-controller="filter" data-navigation-target="projects">
      <h2 class="section-title">Discover my projects</h2>
      <div class="text-wrap">
        <p>Because I really care about work-life balance, you will find here both personal and professional projects.
          Everything here define who I am and gave me either technical or soft skills.</p>
        <p>Feel free to sort them using the tags below.</p>
      </div>
      <div class="tags-wrap my-4">
        <div class="d-flex justify-content-around align-items-center">
          <p class="bigger" data-filter-target="all" data-action="click->game#tag click->filter#all">#all</p>
          <p data-filter-target="pro" data-action="click->game#tag click->filter#pro">#professional</p>
          <p class="bigger" data-filter-target="web" data-action="click->game#tag click->filter#web">#web</p>
        </div>
        <div class="d-flex justify-content-between align-items-center">
          <p data-filter-target="social" data-action="click->game#tag click->filter#social">#social</p>
          <p class="bigger" data-filter-target="lifestyle" data-action="click->game#tag click->filter#lifestyle">#lifestyle<p>
          <p data-filter-target="perso" data-action="click->game#tag click->filter#perso">#personal</p>
          <p class="bigger" data-filter-target="award" data-action="click->game#tag click->filter#award">#awarded</p>
        </div>
        <div class="d-flex justify-content-around align-items-center">
          <p data-filter-target="study" data-action="click->game#tag click->filter#study">#study</p>
          <p class="bigger" data-filter-target="sport" data-action="click->game#tag click->filter#sport">#sport<p>
          <p data-filter-target="env" data-action="click->game#tag click->filter#env">#environment<p>
        </div>
      </div>
      <div class="row">
        <% @projects.each do |project| %>
          <div class="col-12 col-lg-4">
            <div class="effect-purpose reset" data-controller="projects" data-action="click->game#card click->projects#return" data-projects-target="card">
              <div class="card-classic card-project-front d-flex justify-content-center align-items-center" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= project.pic %>')" data-change-mode-target="card">
                <h3><%= project.title %></h3>
                <span class="d-none" data-filter-target="tags"><%= project.tags %></span>
              </div>
              <div class="card-classic card-project-back d-flex justify-content-between flex-column" data-change-mode-target="card">
                <h3><%= project.title %></h3>
                <p><%= project.description.size > 230 ? project.description.slice!(0..230) + " [...]" : project.description %></p>
                <div class="text-right pb-2">
                  <% if project.title == "Our next collaboration ?"  %>
                    <span class="btn-link" data-action="click->navigation#contact">Contact</span>
                  <% else %>
                    <%= link_to "Details", project_path(project), class:"btn-link" %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        <% end  %>
      </div>
    </section>
    <section class="contact container" data-controller="contact" data-game-target="end" data-navigation-target="contact">
      <h2 class="section-title" >Time to get in touch</h2>
      <div class="card-classic" data-change-mode-target="card">
        <p>You are ...</p>
        <div class="d-inline-flex flex-lg-column">
          <div class="d-flex flex-column flex-lg-row btn-msg-wrap">
            <span class="btn-msg btn-darky btn-left" data-contact-target="firmBtn" data-action="click->contact#firm">Firm</span>
            <span class="btn-msg btn-light btn-middle" data-contact-target="poBtn" data-action="click->contact#po">Product Owner</span>
            <span class="btn-msg btn-light btn-middle" data-contact-target="recruiterBtn" data-action="click->contact#recruiter">Recruiter</span>
            <span class="btn-msg btn-light btn-middle" data-contact-target="developerBtn" data-action="click->contact#developer">Developer</span>
            <span class="btn-msg btn-light btn-middle" data-contact-target="designerBtn" data-action="click->contact#designer">Web Designer</span>
            <span class="btn-msg btn-light btn-right" data-contact-target="curiousBtn" data-action="click->contact#curious">Curious</span>
          </div>
          <div class="msg" data-contact-target="firm">
            <p>You work for a company and need to scale temporarly your teams, let's discuss about it !</p>
            <p>ADR - 350€ per day</p>
          </div>
          <div class="msg d-none" data-contact-target="po">
            <p>You have a great idea to develop and need web development skills ? Let's meet to see how make your dreams comes true !</p>
            <p>First meeting free of charges.</p>
          </div>
          <div class="msg d-none" data-contact-target="recruiter">
            <p>You are a recruiter looking for a freelance who can help your client ? Let's discuss about it !</p>
            <p>ADR - 350€ per day</p>
          </div>
          <div class="msg d-none" data-contact-target="developer">
            <p>Hello my friend ! I know that your are already checking my code ! So, clean enough to collaborate ?</p>
          </div>
          <div class="msg d-none" data-contact-target="designer">
            <p>Because good UI/UX design makes everything better, I am always interested in working with webdsigners ! Let's meet up for future collaborations !</p>
          </div>
          <div class="msg d-none" data-contact-target="curious">
            <p>No, curiosity won't kill the cat ! Being curious is a good thing in my mind and something called "curiosity" is even rolling on mars right now, so don't be ashamed to be here !</p>
          </div>
        </div>
        <div>
          <a href="https://github.com/Remitdx" target="_blank"><i class="fab fa-github"></i></a>
          <a href="https://www.linkedin.com/in/r%C3%A9mitondeux/" target="_blank"><i class="fab fa-linkedin"></i></a>
          <p><i class="far fa-envelope"> : remi.tondeux@gmail.com</i></p>
        </div>
      </div>
      <h2 class="section-title" >They trust me</h2>
      <div class="d-flex justify-content-center align-items-center" data-controller="carroussel">
        <span class="btn btn-carrou" data-action="click->game#carrou click->carroussel#turnRight"> <i class="fas fa-chevron-left"></i> </span>
        <div class="testimonials-container">
          <% x = @testimonials.length %>
          <% @testimonials.each do |testimonial| %>
            <% if testimonial.id % x == 1 %>
              <div class="testimonial card-left-out" data-carroussel-target="card">
                <h3><%= testimonial.company %></h3>
                <p><%= testimonial.date %></p>
                <p>"<%= testimonial.descrition %> "</p>
              </div>
            <% elsif testimonial.id % x == 2 %>
              <div class="testimonial card-left" data-carroussel-target="card">
                <h3><%= testimonial.company %></h3>
                <p><%= testimonial.date %></p>
                <p>"<%= testimonial.descrition %> "</p>
              </div>
            <% elsif testimonial.id % x == 3  %>
              <div class="testimonial main" data-carroussel-target="card">
                <h3><%= testimonial.company %></h3>
                <p><%= testimonial.date %></p>
                <p>"<%= testimonial.descrition %> "</p>
              </div>
            <% elsif testimonial.id % x == 4 %>
              <div class="testimonial card-right" data-carroussel-target="card">
                <h3><%= testimonial.company %></h3>
                <p><%= testimonial.date %></p>
                <p>"<%= testimonial.descrition %> "</p>
              </div>
              <% elsif testimonial.id % x == 5 %>
              <div class="testimonial card-right-out" data-carroussel-target="card">
                <h3><%= testimonial.company %></h3>
                <p><%= testimonial.date %></p>
                <p>"<%= testimonial.descrition %> "</p>
              </div>
            <% else %>
              <div class="testimonial d-none" data-carroussel-target="card">
                <h3><%= testimonial.company %></h3>
                <p><%= testimonial.date %></p>
                <p>"<%= testimonial.descrition %> "</p>
              </div>
            <% end %>
          <% end  %>
        </div>
        <span class="btn btn-carrou" data-action="click->game#carrou click->carroussel#turnLeft"><i class="fas fa-chevron-right"></i></span>
      </div>
    </section>
  </main>
  <footer class="footer-classic py-3" data-change-mode-target="footer">
    <p>Made with love by myself - Thank you for your visit</p>
  </footer>
</div>
