<div data-controller="change-mode">
  <div class="navigate py-4">
    <div class="d-flex justify-content-around pb-2">
      <h4><%= link_to "Menu", "#", class: "nav-l" %></h4>
      <h4><%= link_to "Projects", "#", class: "nav-l" %></h4>
      <h4><%= link_to "Contact", "#", class: "nav-l" %></h4>
    </div>
    <div class="d-flex pl-4">
      <span class="button btn-darky btn-left" data-change-mode-target="btn-classic" data-action="click->change-mode#classic">Classic</span>
      <span class="button btn-middle" data-change-mode-target="btn-black" data-action="click->change-mode#dark">Dark</span>
      <span class="button btn-right" data-change-mode-target="btn-funky" data-action="click->change-mode#funky">Funky</span>
    </div>
  </div>
  <div class="container">
    <div class="main-content">
      <h1>Welcome to my portfolio !</h1>
      <%= image_tag "RemBG_2.jpg", class: "avatar" %>
      <%= image_tag "RemLul2.jpg", class: "avatar" %>
      <%= image_tag "RemLul.jpg", class: "avatar d-none" %>
      <div class="bio">ceci est une belle bio</div>
    </div>
  </div>
</div>
