<div data-controller="change-mode" data-change-mode-target="home">
  <div class="navigate-classic py-3 fixed-top" data-change-mode-target="navigate">
    <div class="d-flex container justify-content-around">
      <div class="d-flex">
        <span class="button btn-darky btn-left" data-change-mode-target="classic" data-action="click->change-mode#classic">Light</span>
        <span class="button btn-middle" data-change-mode-target="dark" data-action="click->change-mode#dark">Dark</span>
        <span class="button btn-right" data-change-mode-target="funky" data-action="click->change-mode#funky">Funky</span>
      </div>
      <h3 data-action="click->change-mode#home">Home</h3>
      <h3 data-action="click->change-mode#about">About me</h3>
      <h3 data-action="click->change-mode#projects">Projects</h3>
      <h3 data-action="click->change-mode#contact">Contact</h3>
    </div>
  </div>
  <div class="banner d-flex align-items-start flex-column justify-content-center">
    <div class="p-5">
      <h1>Rémi Tondeux</h1>
      <h2 id="job-title"></h2>
    </div>
  </div>
  <div class="body-classic" data-change-mode-target="body">
    <div class="container">
      <h3>About Rémi Tondeux</h3>
      <div class="text-center">
        <%= image_tag "RemBG_2.jpg", class: "avatar my-3", data: { change_mode_target: "bg" } %>
        <%= image_tag "RemLul.jpg", class: "avatar my-3 d-none", data: { change_mode_target: "lul" } %>
        <div class="card-classic" data-change-mode-target="card">
          <% lorem = "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum."  %>
          <% 8.times do %>
            <p><%= "#{lorem}" %></p>
          <% end  %>
        </div>
        <div data-change-mode-target="projects">
          <h3>this is project section</h3>
          <div>
            <% 8.times do %>
            <p><%= "#{lorem}" %></p>
            <% end  %>
          </div>
        </div>
        <div data-change-mode-target="contact">
          <h3>this is contact section</h3>
          <% 8.times do %>
            <p><%= "#{lorem}" %></p>
          <% end  %>
        </div>
        <%= image_tag "banana.png", class: "juke d-none", data: { change_mode_target: "juke" } %>
      </div>
    </div>
  </div>
</div>
